@import './styles/variables';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primaryColor;
}

.main {
  min-height: 100vh;
  padding-top: 80px;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    padding-top: 90px;
  }
}