@import './styles/variables';

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: $primaryColor;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $whiteColor;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $whiteColor;
  transition: .3s;
}

button, input, textarea {
  outline: none;
  border: none;
  background-color: transparent;
  color: $whiteColor;
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 3px;
  transition: .3s;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primaryColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondaryColor;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $whiteColor;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 7px;
  }
}